body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* Sección parallax base */
.parallax-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Efecto Parallax */
.parallax-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

/* Contenido sobre las imágenes */
.content {
  color: #2400FF;
  z-index: 1;
  margin-top: 5%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para el texto */
  border-radius: 10px;
  min-width: 50%;
}

/* Títulos y párrafos */
.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 0;
  line-height: 1.6;
}

/* Efecto Parallax para las imágenes de fondo */
.parallax-section-1::before {
  background-image: url('./assets/img/20241002_165602.jpg'); /* Cambia por la ruta real de la imagen */
}

.parallax-section-2::before {
  background-image: url('./assets/img/20241009_164338.jpg'); /* Cambia por la ruta real de la imagen */
}

/* Divider - franja entre las secciones */
.divider {
  height: 200px;
  background-color: white; /* Puedes cambiar el color aquí más adelante */
  width: 100%;
}

.divider-text {
  color: #0056b3;
  font-size: 40px;
}

/* Estilos para las tarjetas */
.cards-container {
  display: flex;
  justify-content: flex-start; /* Alinea las tarjetas al inicio */
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 20px;
  padding-left: 15px; /* Añadir padding para que la primera tarjeta no quede cortada */
}

.card {
  background-color: rgba(255, 247, 146, 0.8);
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 320px;
  max-width: 320px;
  flex: 0 0 auto; /* Evita que las tarjetas se redimensionen en pantallas pequeñas */
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 992px) {
  .cards-container {
    overflow-x: auto; /* Hacer scroll horizontal en pantallas pequeñas */
    display: flex;
    flex-wrap: nowrap; /* Las tarjetas no deben bajar, sino deslizarse */
    -webkit-overflow-scrolling: touch; /* Suavizar el scroll en móviles */
    padding-left: 10px; /* Espacio adicional para la primera tarjeta */
  }

  .card {
    max-width: 95%; /* Las tarjetas ocuparán el 85% del ancho en móviles */
    margin-right: 10px; /* Margen para que se vea parte de la siguiente tarjeta */
  }

  .content {
    margin-top: 20%;
    max-width: 350px;
  }
  .divider-text {
    font-size: 35px;
    text-align: center;
  }
}
